# ArcGIS project & GDB binaries
*.gdb/
*.aprx
*.sd
*.lock

# High resolution rasters
*.tif
*.tiff
*.adf
*.jp2

# Omniverse
*.usd
*.usdz
*.usda
*.usdc
*.ogn
.omniverse_cache/
*.nvdb

# Blender
*.blend1
*.blend2
*.blend
__pycache__/

# Large datasets
large_data/
cache/
logs/

# System
.DS_Store
Thumbs.db
